.container
  %ul.nav.nav-pills
    %li.active
      %a{ :href => "#"} Home
    %li
      %a{ :href => "#"} News
  %h1 Herzlich Willkommen
  %h2 auf der Website von Tabitha
  %h3 Musik, die ich gerne höre: Bodo Wartke
  .row
    .col-xs-9
      %img.row.col-xs-3{:src => "klaviersdelikte.jpg"}
      %p.row.col-xs-6
        In seinem jüngsten Programm beweist Bodo Wartke einmal mehr seine  vielfältigen Qualitäten als Gentleman-Entertainer am Flügel. Ob er Liebeslieder singt, rappt, Gedichte rezitiert, Samba tanzt oder mehrere Instrumente gleichzeitig spielt: sein facettenreiches Klavierkabarett in Reimkultur ist unterhaltsam, mitreißend und immer auf den Punkt. Mit augenzwinkernder Leichtigkeit führt der Sprachjongleur das Publikum singend durch den Abend und erzählt seine Geschichten, die sich in einem rauschenden Bilderbogen entfalten.
        Seine Klaviersdelikte sind charmante Beobachtungen unseres Alltags und jener Komplikationen, die das zwischenmenschliche Miteinander aufwirft.
        %br
        %input{ type: "button", value: "Gefällt mir auch"}
  .row
    .col-xs-9
      %img.row.col-xs-3{:src => "oedipus.jpg"}
      %p.row.col-xs-6
        Mit nur neun Requisiten und rasanten Rollenwechseln erzählt Bodo Wartke die Geschichte des Ödipus, König von Theben, der unwissend seinen eigenen Vater tötet. Und später, als Belohnung dafür, dass er Theben von der Sphinx befreit, Iokaste, die Witwe des Königs und damit seine eigene Mutter, zur Ehefrau erhält. Ein Solo-Theater mit dem Klavierkabarettisten in allen 14 Rollen!
        Bodo Wartkes exzellente Darbietung seiner Bühnenfassung der klassischen Tragödie "König Ödipus" bietet einen barrierefreien Einstieg in einen zu Recht berühmten Sagenstoff und vereint Komödie und Tragödie zu einem unvergesslichen Theaterabend – so macht Bildung Spaß!
        %br
        %input{ type: "button", value: "Gefällt mir auch"}




