!!! 5
%html
  %head
    %link(href="css/bootstrap.min.css" rel="stylesheet" type="text/css")
    %title Meine Website
  %body
    .container
    %script{:type=>"js/bootstrap.min.js"}
    .nav
      .nav-pills
    .row
      .col-xs-9 
        .row
          .col-xs-3 
          .col-xs-6 
    =yield
